$color-brand-aqua: #25bebc;
$color-brand-blue-light: #397dff;
$color-brand-blue-medium: #397dff;
$color-brand-deep-blue: #0b0535;
$color-brand-purple: #9c5bc3;
$color-brand-blue-shadow: $color-brand-blue-medium;

$color-header-background: #04072d;
$color-header-links: #cbd2ff;

$color-button-background: $color-brand-purple;
$alert: #ef7674;